%h3 Community Museums
- @smithsonians.each do |smithsonian|
  %ul
    %div
      = smithsonian.name
      = smithsonian.description
      %br
      = link_to 'Mineral Collection', smithsonian_path(smithsonian)
      = link_to "Edit Information", edit_smithsonian_path(smithsonian)
      = link_to "Delete", smithsonian_path(smithsonian), method: :delete
      %br

%br
= link_to 'Want to add your museum to our community?', new_smithsonian_path
%br
%br
= link_to 'Back', root_path


