%h1 Our Museums!
- @smithsonians.each do |museum|
  = museum.name
  = museum.description
  = link_to 'Show', smithsonian_path(smithsonian)
  = link_to "Edit", edit_smithsonian_path(smithsonian)
  = link_to "Delete", smithsonian_path(smithsonian), method: :delete
  %br

%br

= link_to 'New Museum', new_smithsonian_path
= link_to 'Back', root_path


