%b Name:
= @smithsonian.name
%br
%b Description:
= @smithsonian.description
%br
= link_to 'Edit Museum', edit_smithsonian_path(@smithsonian)
%br
%br
%br
= link_to "Add Mineral to this Museum!",
  new_smithsonian_mineral_path(@smithsonian, @mineral)
%br
%br
%strong
  Minerals
%ul
  - @smithsonian.minerals.each do |mineral|
    - if mineral.name
      %li
        = mineral.name
        |
        = mineral.moh
        |
        = mineral.origin

= link_to 'Back', smithsonians_path
