%b Name:
= @smithsonian.name
%br
%b Description:
= @smithsonian.description
%br
%br
= link_to "Add Mineral to this Museum!",
  new_smithsonian_mineral_path(@smithsonian, @mineral)
%br
%br

= link_to 'Edit', edit_smithsonian_path(@smithsonian)
%br
= link_to 'Back', smithsonians_path  

