%h1 Our current Minerals

- @minerals.each do |mineral|
  = mineral.name
  = mineral.moh
  = mineral.origin
  = link_to 'Show', smithsonian_mineral_path(@smithsonian, mineral)
  = link_to 'Edit', edit_mineral_path(@smithsonian, mineral)
  = link_to 'Destroy', smithsonian_mineral_path, method: :delete

%br


= link_to 'New Mineral', new_mineral_path(@smithsonian, mineral)

= link_to "Add Mineral",
  new_smithsonian_mineral_path(@smithsonian, @mineral)

= link_to 'Back', root_path