
%h3 Community Scientists
%br

%ul
  - @scientists.each do |scientist|
    %li
      = scientist.name
      |
      = scientist.institution
      |
      = link_to '| Show ', scientist
      = link_to '| Edit ', edit_scientist_path(scientist)
      = link_to '| Dismiss |', scientist, method: :delete
      

%br
%br
= link_to 'Want to join our community?', new_scientist_path
%br
%br
= link_to 'Back', root_path

