!!!
%html
  %head
    %title Museum Project
    %link{href: "styles.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Great+Vibes", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic", rel: "stylesheet", type: "text/css"}/

  %title Museum Index

  %body

  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags

    
  %body
    %h1 The Mineral Research Institute
  / Fixed navbar
  .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} Home
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            = link_to 'Museums', smithsonians_path
          %li
            = link_to 'Researchers', scientists_path
        .pull-right
          = user_login_links
      .nav-collapse
  .content
  %p.notice= notice if notice
  %p.alert= alert if alert   
  = yield
  .footer
    .container
      %p.text-muted 10th St. & Constitution Ave. NW, in Washington, D.C. 20560 |  (202) 633-1000  |  Powered by Corundum Conundrum 2014
  /
    Bootstrap core JavaScript
    \==================================================
  / Placed at the end of the document so the pages load faster
  %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
  %script{src: "../../dist/js/bootstrap.min.js"}

  
